.pie-chart {color: #fff; font-weight: 900}

.card-text-center {
    text-align: center;
    font-weight: 900;
}

.mg-top-10 {
    margin-top: 10px;
}

.card-title {font-weight: 900}

.site-selection {
  cursor: pointer;
  text-decoration: underline;
}
@media screen and (min-width: 600px)  {
  .mobile-break { display: none; }
}