<div class="card">
    <div class="card-header">
      <strong>Dashboard</strong>      
    </div>
  
    <div class="animated fadeIn">
      <div class="row">
        <div class="col-lg">
          <div class="card">
              <div class="card-body">
                  <table class="table tableFixHead mytable">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Expired</th>
                          <th>0-20 Days</th>
                          <th>21-40 Days</th>
                        </tr>
                      </thead>
                      <tbody>
<!--   
                        <tr *ngFor= "let data of dataList.result; let i = index">  
                          <td>{{data.date ? data.date : '--'}}</td>
                          <td>{{data.tyre_type ? data.tyre_type : '--'}}</td>
                          <td>{{data.tyre_no ? data.tyre_no : '--'}}</td>
                          <td>{{data.purchase_date ? data.purchase_date : '--'}}</td>
                          <td>{{data.company_name ? data.company_name : '--'}}</td>
                          <td>{{data.brand ? data.brand : '--'}}</td>
                          <td>{{data.tyre_size ? data.tyre_size : '--'}}</td>
                          <td>{{data.nsd ? data.nsd : '--'}}</td>
                          <td>{{data.retarding ? data.retarding : '--'}}</td> -->
                          
  
                          <!-- <td><button class="btn btn-primary" (click)="edit(data)"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>&nbsp;</td>
                          <td>
                            <button class="btn btn-danger" (click)="delete(data, i)"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                          </td> -->
                        <!-- </tr> -->
                      </tbody>
                    </table>
                </div>
            </div>
          </div>
        </div>
      </div>
  </div>