table {
    overflow-x: scroll;
    width: 100%;
    display: block;
    select {
        width: 150px
    }
    .vendor {
        width: 150px
    }
    .location {
        width: 150px
    }
    .price{
        width: 120px
    }
    
    
  }