<div class="container">
  <form [formGroup]="drmForm">
    <div class="card">
      <div class="card-header">Edit Diesal Rate Master</div>
      <div class="card-body">

        <div class="form-group row">
          <div class="col-md-3">
            <label>Site</label>
            <input type="text" formControlName="site" class="form-control" placeholder="Site">
          </div>

          <div class="col-md-3">
            <label>Pump Name</label>
            <input type="text" formControlName="vendername" class="form-control" placeholder="Vender Name">
          </div>

          <div class="col-md-3">
            <label class="required">Date</label>
            <div class="input-group">
              <input type="text" #mr="bsDatepicker" [bsConfig]="{ containerClass: 'theme-blue', 'dateInputFormat': 'DD-MM-YYYY', 'showWeekNumbers': false, 'minDate': currentDate }" bsDatepicker formControlName="date"
                class="form-control">
              <div class="input-group-prepend" (click)="mr.toggle()">
                <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <label>Rate</label>
            <input type="number" formControlName="rate" class="form-control" placeholder="Diesal Rate">
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-success float-right" (click)="saveDrm()" [disabled]="!drmForm.valid || process == 'saving'" type="button">
          Save <i *ngIf="process == 'saving'" class="fa fa-spinner fa-spin"></i>
        </button>
      </div>
    </div>
  
  </form>
</div>