
tbody {
    display:block;
    height:350px;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:1200px;
    table-layout:fixed;/* even columns width , fix width of table too*/
}
thead {
    width: 1200px;
    overflow:auto;
    /* scrollbar is average 1em/16px width, remove it from thead width */
}
table {
    width:1200px;
    overflow:auto;

}