<div [@routerTransition]>
  <div class="row">
    <div class="col col-md-12 col-sm-12 col-xl-12 col-lg-12 scroll-h-page">
      <div class="row">
        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
            <h4><i class="fa fa-truck"></i> Plants Rate Multiple Destination -> {{siteName}}</h4>          
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <a class="btn btn-primary" [routerLink]="['/admin-privileges/plants-rate-list']" routerLinkActive="router-link-active" > <i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
        </div>
      </div>
      <hr>
      <form [formGroup]="searchForm">
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12 col-xl-6 col-lg-6">
            <ngb-pagination
              [(page)]="pagination.currenPage"
              [pageSize]="pagination.pageSize"
              [collectionSize]="pagination.total"
              [maxSize]="pagination.maxSize"
              (pageChange)="getMultiDes()"
            ></ngb-pagination>        
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12 col-xl-4 col-lg-4">
              <div class="form-group input-group">
                  <input style="width:100%" class="form-control" ng2-auto-complete
                  formControlName="destination" placeholder="Search with destination"
                  [source]="destSearch.bind(this)" list-formatter="name" />

                  <!-- <input type="text" formControlName="destination" placeholder="Search with destination" class="form-control"> -->
                  <div class="input-group-append">
                      <button class="btn btn-secondary" (click)="search()"><i class="fa fa-search"></i></button>
                  </div>
              </div>
          </div>
          <div class="col-md-2 col-sm-12 col-xs-12 col-xl-2 col-lg-2">
            <button class="btn btn-primary pull-right" (click)="addModal(add_plant_rate_multi_dest)"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
            <button class="btn btn-warning pull-right" (click)="refershPage()"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
          </div>
        </div>
      </form>

      <form [formGroup]="multiDestForm">
        <table class="table">
          <thead>
            <tr>
              <th>Destination</th>
              <th style="width: 10%">Spi</th>
              <th style="width: 10%">Km</th>
              <th style="width: 10%">Freight</th>
              <th style="width: 10%">Rate By</th>
              <th >Start Date</th>
              <th >End Date</th>
              <th colspan="2" align="center">Actions</th>
              <!-- <th>Edit</th>
              <th>Print</th>
              <th>Delete</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="loading">
              <td colspan="14">
                <div class="showbox">
                  <div class="loader">
                    <svg class="circular" viewBox="25 25 50 50">
                      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                    </svg>
                  </div>
                </div>
              </td>
            </tr>
            <tr *ngFor= "let planRate of rows; let i = index">

              <td *ngIf="!planRate.updated">{{planRate.destination ? planRate.destination : '--'}}</td>
              <td *ngIf="planRate.updated">
                <div>
                  <input style="width:100%" class="form-control" ng2-auto-complete (valueChanged)="onDestChange($event)"
                  formControlName="destination" placeholder="Search with destination"
                  [source]="destSearch.bind(this)" list-formatter="name" />
                  <!-- <input type="text" formControlName="destination" placeholder="Enter destination name"> -->
                </div>
              </td>

              <td *ngIf="!planRate.updated">{{planRate.spi ? planRate.spi : '--'}}</td>
              <td *ngIf="planRate.updated">
                <div>
                  <input style="width: 60px" type="text" formControlName="spi" placeholder="Enter spi">
                </div>
              </td>

              <td *ngIf="!planRate.updated">{{planRate.km ? planRate.km : '--'}}</td>
              <td *ngIf="planRate.updated">
                <div  >
                  <input style="width: 60px" type="number" formControlName="km" placeholder="Enter km">
                </div>
              </td>

              <td *ngIf="!planRate.updated">{{planRate.freight ? planRate.freight : '--'}}</td>
              <td *ngIf="planRate.updated">
                <div  >
                  <input style="width: 60px" type="number" formControlName="freight" placeholder="Enter freight">
                </div>
              </td>

              <td *ngIf="!planRate.updated">{{planRate.rateby ? planRate.rateby : '--'}}</td>
              <td *ngIf="planRate.updated">
                <div>
                  <select style="width: 100px" formControlName="rateby" class="form-control">
                    <option value="SPI">SPI</option>
                    <option value="TON">TON</option>
                    <option value="ACCTYRE">ACCTYRE</option>
                  </select>
                </div>
              </td> 
              
              <td *ngIf="!planRate.updated">{{planRate.startdate ? planRate.startdate : '--'}}</td>
              <td style="width: 20%" *ngIf="planRate.updated">
                <div>
                  <input style="width: 150px" class="form-control" placeholder="yyyy-mm-dd"
                    name="dp" formControlName="startdate" ngbDatepicker #d="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                  </div>
                </div>
              </td>
              
              <td *ngIf="!planRate.updated">{{planRate.enddate ? planRate.enddate : '--'}}</td>
              <td *ngIf="planRate.updated">
                <div>
                  <input style="width: 150px" class="form-control" placeholder="yyyy-mm-dd"
                    name="dp2" formControlName="enddate" ngbDatepicker #d="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                  </div>
                </div>
              </td>

              <td>
                <button (click)="edit(planRate)" class="btn btn-primary"><i class="fa fa-pencil"></i> Edit</button>
              </td>
              <td><button *ngIf="planRate.updated" (click)="updateValue(planRate, i)" class="btn btn-danger"><i class="fa fa-pencil-square-o"></i> Update</button></td>
            </tr>
            <tr *ngIf="rows.length === 0">
                <td align="center" colspan="10">No data available.</td>
              </tr>
          </tbody>
        </table>
      </form>
      <ngb-pagination
      [(page)]="pagination.currenPage"
      [pageSize]="pagination.pageSize"
      [collectionSize]="pagination.total"
      [maxSize]="pagination.maxSize"
      (pageChange)="getMultiDes()"
      ></ngb-pagination>

    </div>
  </div>
</div>


<!-- Add Plant rate -->
<ng-template #add_plant_rate_multi_dest let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Plant Rate List</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addPlantRateForm">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Companies</label>
            <select formControlName="name" class="form-control">
              <option value="">Select Company</option>
              <option *ngFor="let c of companies" value="{{ c.accountname }}">
                {{ c.accountname }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Site</label>
            <select formControlName="site" class="form-control">
              <option *ngFor="let s of sites" value="{{ s.branch_name }}">
                {{ s.branch_name }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Rate By</label>
            <select formControlName="rateby" class="form-control">
              <option value="SPI">SPI</option>
              <option value="TON">TON</option>
              <option value="ACCTYRE">ACCTYRE</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Status</label>
            <select formControlName="status" class="form-control">
              <option value="Active">Active</option>
              <option value="Non Active">Non Active</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Destination</label>
            <input style="width:100%" class="form-control" ng2-auto-complete
            formControlName="destination" placeholder="Search with destination"
            [source]="destSearch.bind(this)" list-formatter="name" />
            <!-- <input id="typeahead-http" type="text" class="form-control" (change)="onDestChange()" formControlName="destination" [ngbTypeahead]="searchDestination" placeholder="Search" /> -->
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>SPI</label>
            <input type="text" class="form-control" formControlName="spi" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>KM</label>
            <input type="text" class="form-control" formControlName="km" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>RATE</label>
            <input type="text" class="form-control" formControlName="freight" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="dateOfBirth">Start Date</label>
            <div class="input-group">
              <input id="dateOfBirth" class="form-control" formControlName="startdate" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="dateOfBirth">End Date</label>
            <div class="input-group">
              <input id="dateOfBirth" class="form-control" formControlName="enddate" placeholder="yyyy-mm-dd" name="dp2" ngbDatepicker #dp2="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="dp2.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="savePlatRateList()">Save</button>
  </div>
</ng-template>