<div class="container">
  <form [formGroup]="AcForm">
    <div class="card">
      <div class="card-header">Add Accounts Category</div>
      <div class="card-body">
        <div class="form-group row">
          <div class="col-lg-3 col-md-3">
            <label>Category Name</label>
            <input type="text" formControlName="catname" class="form-control" placeholder="Category Name">
          </div>

          <div class="col-lg-3 col-md-3">
            <label>Type</label>
            <select class="form-control" formControlName="cattype">
              <option value="">Select Type</option>
              <option value=""></option>
              <option value="Primary">Primary</option>
            </select>
          </div>

          <div class="col-lg-3 col-md-3">
            <label class="required">Under Group</label>
            <ng-select [items]="undergroup_options" placeholder="Type and UnderGropu" bindLabel="catname" bindValue="catname"
              formControlName="undergroup">
            </ng-select>
          </div>

          <div class="col-lg-3 col-md-3">
            <label>Accounts</label>
            <select class="form-control" formControlName="accounts">
              <option value="">Select Accounts</option>
              <option value="Trading">Trading</option>
              <option value="Profit and Loss">Profit and Loss</option>
              <option value="Balance Sheet">Balance Sheet</option>
            </select>
          </div>
          <div class="col-lg-3 col-md-3">
            <label>DrCr</label>
            <select class="form-control" formControlName="drcr">
              <option value="">Select Account Mode</option>
              <option value="Debit">Debit</option>
              <option value="Credit">Credit</option>
            </select>
          </div>
      </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-success float-right" (click)="save()" [disabled]="!AcForm.valid || process == 'saving'" type="button">
          Save <i *ngIf="process == 'saving'" class="fa fa-spinner fa-spin"></i>
        </button>
      </div>
    </div>
  </form>
</div>
