<div class="card">
  <div class="card-header">
    <strong>Extra Return Expences</strong>
  </div>

  <div class="card-body">
    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
      <div class=" form-group row">
        <div class="col-sm">
          <label for="city">Site</label>
          <select id="select1" name="select1" required class="form-control">
            <option value="0">Please select</option>
            <option value="1">Nagpur</option>
            <option value="2">Awarpur</option>
            <option value="3">Bela Coal MP</option>
            <option value="4">Bela MP</option>
            <option value="5">Maihar MP</option>
            <option value="6">MCW Gadchandur</option>
            <option value="7">NWC Plant</option>
            <option value="8">Reliance Hazira</option>
            <option value="9">Rewa Hub MP</option>
            <option value="10">Sidhi MP</option>
          </select>
        </div>

        <div class="col-sm">
          <label for="postal-code">Voucher No</label>
          <input type="text" class="form-control">
        </div>
        
        <div class="col-sm">
            <label for="postal-code">Date</label>
            <input type="date" class="form-control" id="postal-code">
          </div>
          <div class="col-sm">
            <label for="postal-code">Lr.No</label>
            <input type="text" class="form-control">
          </div>
          <div class="col-sm">
            <label for="postal-code">Truck No</label>
            <input type="text" class="form-control">
          </div>
      </div>
      <!--/.row1-->
      
      <div class=" form-group row">
        
        
          <div class="col-sm">
              <label for="postal-code">Driver Name</label>
              <input type="text" class="form-control" id="postal-code">
            </div>
            <div class="col-sm">
              <label for="city">Payment Type</label>
              <select id="select1" name="select1" required class="form-control">
                <option value="0">Please select</option>
                <option value="1">Nagpur</option>
                <option value="2">Awarpur</option>
                <option value="3">Bela Coal MP</option>
              </select>
            </div>
            <div class="col-sm">
              <label for="city">Payment Mode</label>
              <select id="select1" name="select1" required class="form-control">
                <option value="0">Please select</option>
                <option value="1">Nagpur</option>
                <option value="2">Awarpur</option>
                <option value="3">Bela Coal MP</option>
              </select>
            </div>
          
        </div>

      <!--/.row2-->
      <div class=" form-group row">
        
        
        <div class="col-sm-2">
          <label for="city">Account Name</label>
          <select id="select1" name="select1" required class="form-control">
            <option value="0">Please select</option>
            <option value="1">Nagpur</option>
            <option value="2">Awarpur</option>
            <option value="3">Bela Coal MP</option>
          </select>
        </div>
        
      <div class="col-sm">
        <label for="postal-code">Amount</label>
        <input type="text" class="form-control" id="postal-code">
      </div>
      <div class="col-sm-2">
        <label for="city">Billing</label>
        <select id="select1" name="select1" required class="form-control">
          <option value="0">Please select</option>
          <option value="1">Yes</option>
          <option value="2">No</option>
          
        </select>
      </div>
      <div class="col-sm">
        <label for="postal-code">Bill Amount</label>
        <input type="text" class="form-control" id="postal-code">
      </div>
      <div class="col-sm-1 mt-4">
        <a class="badge" href="#"><i class="fa fa-plus-square"></i></a>
     
      
        <a class="badge" href="#"><i class="fa fa-minus-square"></i></a>
      </div>
        
        </div>

      

    </form>
  </div>
  <div class="card-footer">
    <button type="submit" style="margin-right: 10px" class="btn btn-sm btn-success">
      <i class="fa fa-dot-circle-o"></i> Save</button>
    <button type="reset" style="margin-right: 10px" class="btn btn-sm btn-warning">
      <i class="fa fa-star"></i> Refresh</button>

  </div>
</div>



    <div class="animated fadeIn">
      <div class="row">
        <div class="col-lg">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify"></i> Prepared By Administrator
            </div>
            <div class="card-body">
                
              <table class="table">
                <thead>
                  <tr>
                    <th>Site</th>
                    <th>Date</th>
                    <th>Lr No</th>
                    <th>Truck No</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Samppa Nori</td>
                    <td>2012/01/01</td>
                    <td>Member</td>
                    <td>Member</td>
                    
                    
                      <td>
                          <a class="badge badge-danger" href="#"><i class="fa fa-trash"></i></a>
                        </td>
                  </tr>
                  <tr>
                    <td>Samppa Nori</td>
                    <td>2012/01/01</td>
                    <td>Member</td>
                    <td>Member</td>
                    
                    
                      <td>
                          <a class="badge badge-danger" href="#"><i class="fa fa-trash"></i></a>
                        </td>
                  </tr>
                  <tr>
                    <td>Samppa Nori</td>
                    <td>2012/01/01</td>
                    <td>Member</td>
                    <td>Member</td>
                    
                    
                      <td>
                          <a class="badge badge-danger" href="#"><i class="fa fa-trash"></i></a>
                        </td>
                  </tr>
                  <tr>
                    <td>Samppa Nori</td>
                    <td>2012/01/01</td>
                    <td>Member</td>
                    <td>Member</td>
                    
                    
                      <td>
                          <a class="badge badge-danger" href="#"><i class="fa fa-trash"></i></a>
                        </td>
                  </tr>
                </tbody>
              </table>
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#">Prev</a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">4</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
    
      </div>