<div class="card">
  <div class="card-header">
    <strong>Plants Rate List</strong>
  </div>

  <!-- <div class="card-body">
    <!-- <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
      <div class=" form-group row">
        <div class="col-sm-3">
          <label for="city">*Company Name</label>
          <select id="select1" name="select1" required class="form-control">
            <option value="0">Please select</option>
            <option value="1">Nagpur</option>
            <option value="2">Awarpur</option>
            <option value="3">Bela Coal MP</option>
            <option value="4">Bela MP</option>
            <option value="5">Maihar MP</option>
            <option value="6">MCW Gadchandur</option>
            <option value="7">NWC Plant</option>
            <option value="8">Reliance Hazira</option>
            <option value="9">Rewa Hub MP</option>
            <option value="10">Sidhi MP</option>
          </select>
        </div>

        <div class="col-sm-3">
          <label for="city">*Site</label>
          <select id="select1" name="select1" required class="form-control">
            <option value="0">Please select</option>
            <option value="1">Nagpur</option>
            <option value="2">Awarpur</option>
            <option value="3">Bela Coal MP</option>
          </select>
        </div>
        <div class="col-sm-3">
          <label for="city">*Rate By</label>
          <select id="select1" name="select1" required class="form-control">
            <option value="0">Please select</option>
            <option value="1">SPI</option>
            <option value="2">TON</option>
          </select>
        </div>

        <div class="col-sm-3">
          <label for="city">*Status</label>
          <select id="select1" name="select1" required class="form-control">
            <option value="0">Please select</option>
            <option value="1">Active</option>
            <option value="2">InActive</option>
          </select>
        </div>


      </div>
      <!--/.row1-->
      <!-- <div class=" form-group row">
        <div class="col-sm-2">
          <label for="city">*Destination</label>
          <select id="select1" name="select1" required class="form-control">
            <option value="0">Please select</option>
            <option value="1">Nagpur</option>
            <option value="2">Awarpur</option>
            <option value="3">Bela Coal MP</option>
            <option value="4">Bela MP</option>
            <option value="5">Maihar MP</option>
            <option value="6">MCW Gadchandur</option>
            <option value="7">NWC Plant</option>
            <option value="8">Reliance Hazira</option>
            <option value="9">Rewa Hub MP</option>
            <option value="10">Sidhi MP</option>
          </select>
        </div>

        <div class="col-sm-2">
          <label for="postal-code">SPI</label>
          <input type="text" class="form-control">
        </div>

        <div class="col-sm-2">
          <label for="postal-code">*KM</label>
          <input type="text" class="form-control">
        </div>

        <div class="col-sm-2">
          <label for="postal-code">*Rate</label>
          <input type="text" class="form-control">
        </div>

        <div class="col-sm">
          <label for="postal-code">*Start Date</label>
          <input type="date" class="form-control" id="postal-code">
        </div>

        <div class="col-sm">
          <label for="postal-code">*End Date</label>
          <input type="date" class="form-control" id="postal-code">
        </div>
      </div> -->


      <!--/.row2-->

      <!-- <div class=" form-group row">
        <div class="col-sm">
          <label for="city">Item Name</label>
          <select id="select1" name="select1" required class="form-control">
            <option value="0">Please select</option>
            <option value="1">Nagpur</option>
            <option value="2">Awarpur</option>
            <option value="3">Bela Coal MP</option>
          </select>
        </div>
        <div class="col-sm">
          <label for="postal-code">QTY</label>
          <input type="text" class="form-control" id="postal-code">
        </div>
        <div class="col-sm">
          <label for="city">Unit</label>
          <select id="select1" name="select1" required class="form-control">
            <option value="0">Please select</option>
            <option value="1">Nagpur</option>
            <option value="2">Awarpur</option>
            <option value="3">Bela Coal MP</option>
          </select>
        </div>
        <div class="col-sm">
          <label for="postal-code">Rate</label>
          <input type="text" class="form-control" id="postal-code">
        </div>
        <div class="col-sm">
          <label for="postal-code">Disc</label>
          <input type="text" class="form-control" id="postal-code">
        </div>
        <div class="col-sm">
          <label for="postal-code">CGST</label>
          <input type="text" class="form-control" id="postal-code">
        </div>
        <div class="col-sm">
          <label for="postal-code">SGST</label>
          <input type="text" class="form-control" id="postal-code">
        </div>
        <div class="col-sm">
          <label for="postal-code">IGST</label>
          <input type="text" class="form-control" id="postal-code">
        </div>
        <div class="col-sm">
          <label for="postal-code">Amount</label>
          <input type="text" class="form-control" id="postal-code">
        </div>
      </div> -->

      <!--/.row3-->
      <!-- <div class=" form-group row">
        <div class="col-sm-auto" style="margin-right: 10px">
          <i class="fa fa-plus-square fa-lg mt-4"></i>

        </div>
        <div class="col-sm">
          <i class="fa fa-minus-square fa-lg mt-4"></i>

        </div>

      </div>

      <div class=" form-group row">
        <div class="col-sm">
          <label for="postal-code">Narration</label>
          <input type="text" class="form-control" id="postal-code">
        </div>
        <div class="col-sm">
          <label for="postal-code">Terms And Conditions</label>
          <input type="text" class="form-control" id="postal-code">
        </div>
      </div>
      <div class=" form-group row">
        <div class="col-sm">
          <label for="postal-code">Net Amount</label>
          <input type="text" class="form-control" id="postal-code">
        </div>
        <div class="col-sm">
          <label for="postal-code">Rounded off</label>
          <input type="text" class="form-control" id="postal-code">
        </div>
        <div class="col-sm">
          <label for="postal-code">Type</label>
          <input type="text" class="form-control" id="postal-code">
        </div>
      </div>
      <div class=" form-group row">
        <div class="col-sm-4">
          <label for="postal-code">Total Amount</label>
          <input type="text" class="form-control" id="postal-code">
        </div>
      </div> -->

    <!-- </form> -->
  <!-- </div> -->
  <!-- <div class="card-footer">
    <button type="submit" style="margin-right: 10px" class="btn btn-sm btn-success">
      <i class="fa fa-dot-circle-o"></i> Save</button>
    <button type="reset" style="margin-right: 10px" class="btn btn-sm btn-warning">
      <i class="fa fa-refresh"></i> Refresh</button>

  </div> -->
<!-- </div> -->



    <div class="animated fadeIn">
      <div class="row">
        <div class="col-lg">
          <div class="card">
            <!-- <div class="card-header">
              <i class="fa fa-align-justify"></i> Prepared By Administrator
            </div> -->
            <div class="card-body">
                <div class="row">

                  <!-- <div class="col-md-8">
                    <ul class="pagination">
                      <li class="page-item">
                        <a class="page-link" href="#">Copy</a>
                      </li>
                      <li class="page-item ">
                        <a class="page-link" href="#">Excel</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">PDF</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">Column Visibility</a>
                      </li>

                    </ul>
                  </div> -->
                  <!-- <div class="col-md-4">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-search"></i>
                        </span>
                        <input type="text" class="form-control"  placeholder="Search by name" />
                      </div>
                    </div> -->
                </div>
                <ngb-pagination
                [(page)]="pagination.currenPage"
                [pageSize]="pagination.pageSize"
                [collectionSize]="pagination.total"
                [maxSize]="pagination.maxSize"
                (pageChange)="fetchReport()"
                ></ngb-pagination>
                <p>
                  <strong>Total:</strong> {{ pagination.total }}, <strong>Records per page:</strong> {{ pagination.pageSize }},
                  <strong>Showing:</strong> {{ (pagination.currenPage - 1) * pagination.pageSize }} -
                  {{ (pagination.currenPage - 1) * pagination.pageSize + 50 }}
                </p>
              <table class="table">
                <thead>
                  <tr>
                    <th>Site</th>
                    <th>Name</th>
                    <th>Rate by</th>
                    <th>Status</th>
                    <!-- <th>Edit</th>
                    <th>Print</th>
                    <th>Delete</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="loading">
                    <td colspan="14">
                      <div class="showbox">
                        <div class="loader">
                          <svg class="circular" viewBox="25 25 50 50">
                            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                          </svg>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr *ngFor= "let planRate of plantRates; let i = index">
                    <td><a [routerLink]="['/admin-privileges/plants-rate-multiple-destination', planRate.site]">{{planRate.site ? planRate.site : '--'}}</a></td>
                    <td>{{planRate.name ? planRate.name : '--'}}</td>
                    <td>{{planRate.rateby ? planRate.rateby : '--'}}</td>
                    <td>{{planRate.status ? planRate.status : '--'}}</td>

                    <!-- <td>
                        <a class="badge badge-success" href="#"><i class="fa fa-pencil"></i></a>

                      </td>
                      <td>
                        <a class="badge badge-secondary" href="#"><i class="fa fa-print"></i></a>
                      </td>
                      <td>
                          <a class="badge badge-danger" href="#"><i class="fa fa-trash"></i></a>
                        </td> -->
                  </tr>
                </tbody>
              </table>
              <ngb-pagination
              [(page)]="pagination.currenPage"
              [pageSize]="pagination.pageSize"
              [collectionSize]="pagination.total"
              [maxSize]="pagination.maxSize"
              (pageChange)="fetchReport()"
              ></ngb-pagination>
            </div>
          </div>
        </div>
      </div>
