<div class="card">
  <div class="card-header">
    Master Data
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col col-md-12 col-sm-12 col-xl-12 col-lg-12">
        <ngb-tabset>
          <ngb-tab title="Type Master">
            <ng-template ngbTabContent>
              <br>
              <app-type-master></app-type-master>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Admin Master">
            <ng-template ngbTabContent>
              <br>
              <app-admin-master></app-admin-master>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>

      </div>
    </div>
  </div>
</div>